@model Employee

<div class="container">
    <h1>Create Employee</h1>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">@ViewBag.SuccessMessage</div>
    }
    <form asp-action="Create" asp-controller="Employee" method="post">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="form-group">
            <label for="DateOfEmployment">Date of Employment:</label>
            <input type="date" class="form-control" asp-for="DateOfEmployment" />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <a class="btn btn-dark" asp-area="" asp-controller="Employee" asp-action="EmployeeList">View Employees</a>
</div>